body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 900px;
  margin: auto;
}

/**********************************************/
/**********************************************/
/* CONFIGURAÇÃO DO MENU PRINIPAL NO CABEÇALHO */
/**********************************************/
/**********************************************/
header {
  border: 2px solid black;
  height: 124px;
  margin-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  background-color: black;
}

#menu-principal {
  width: 90%;
  color: orange;
  margin: 0px auto;
  height: 100px;
  padding: 0;
}

#menu-principal a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

ul li {
  list-style: none;
  display: inline;
  padding: 20px 20px 20px 20px;
}

#menu-principal a:hover {
  color: #ddd;
  font-size: 22px;
}

/**********************************************/
/**********************************************/
/******* CONFIGURAÇÃO DO CORPO DO SITE ********/
/**********************************************/
/**********************************************/
main {
  border: 2px solid red;
  margin-bottom: 10px;
}

/**********************************************/
/**********************************************/
/*********** CONFIGURAÇÃO DO RODAPÉ ***********/
/**********************************************/
/**********************************************/
footer {
  border: 2px solid green;
}

#desenvolvido,
#redes-sociais {
  display: flex;
  justify-content: center;
}

#redes-sociais a img {
  margin: 15px;
}
